@use "../foundation/base";
.l-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: base.$footer_bg;
    padding: 1.263vw 0;
    @include breakpoint ( sp ) {
        padding: 7.143vw 0 3.5715vw;
    }
    nav {
        ul {
            display: flex;
            margin-top: 1.263vw;
            @include breakpoint ( sp ) {
                margin-top: 0;
            }
            li {
                font-size: 0.808vw;
                margin-right: 3.03vw;
                &:last-child {
                    margin-right: 0;
                }
                @include breakpoint ( sp ) {
                    font-size: 2.857vw;
                    margin-right: 7.143vw;
                }
                a {
                    color: #fff;
                }
            }
        }
    }
    small {
        color: #fff;
        font-size: 0.808vw;
        margin-top: 0.758vw;
        @include breakpoint ( sp ) {
            font-size: 2.857vw;
            margin-top: 4.286vw;
        }
    }
}
