@use "../foundation/base";
.l-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.263vw;
    color: base.$text;
    padding: 1.263vw 0.253vw 3.788vw 0.253vw;
    nav {
        ul {
            display: flex;
            margin-top: 1.263vw;
            li {
                font-size: 0.808vw;
                margin-right: 3.03vw;
                &:last-child {
                    margin-right: 0;
                }
                @include breakpoint ( sp ) {
                    font-size: 0.056vw;
                    margin-right: 1.515vw;
                }
                a {
                    color: base.$text;
                }
            }
        }
    }
    small {
        font-size: 0.808vw;
        margin-top: 0.758vw;
        @include breakpoint ( sp ) {
            font-size: 0.556vw;
        }
    }
}
