@use "../foundation/base";
.l-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    color: base.$text;
    padding: 25px 5px 75px 5px;
    nav {
        ul {
            display: flex;
            margin-top: 25px;
            li {
                font-size: 16px;
                margin-right: 60px;
                &:last-child {
                    margin-right: 0;
                }
                @include breakpoint ( sp ) {
                    font-size: 1.1px;
                    margin-right: 30px;
                }
                a {
                    color: base.$text;
                }
            }
        }
    }
    small {
        font-size: 16px;
        margin-top: 15px;
        @include breakpoint ( sp ) {
            font-size: 11px;
        }
    }
}
