.l-header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 8.586vw;
    margin: 0 auto;
    padding: 2.525vw 5vw 0px;
    @include breakpoint( sp ) {
        height: 17.143vw;
        padding: 5.714vw 5.714vw  0;
    }
    &__title {
        margin-right: auto;
        img {
            width: 10.101vw;
            height: auto;
            @include breakpoint( sp ) {
                width: 21.429vw;
            }
        }
    }
}
