@use "../../foundation/base";
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    @include breakpoint ( sp ) {
        width: 100%;
    }
    &__table{
        width: 100%;
        border-collapse:collapse;
    }
    &__item{
        text-align: left;
        width: 30%;
        background-color: base.$contact_blue;
        border: 1px solid #ccc;
        color: #fff;
        padding: 1.01vw 0px 1.01vw 5%;
        font-size: 1.061vw;
        @include breakpoint ( sp ) {
            width: 40%;
            padding: 2.608vw 0px 2.608vw 1.956vw;
            font-size:3.429vw;
        }
    }
    &__content{
        width: 70%;
        padding: 0.505vw;
        border: 1px solid #ccc;
        background-color: #fff;
        @include breakpoint ( sp ) {
            width: 60%;
            padding: 0.652vw 0.652vw 0 0.652vw;
        }
    }
    &__button{
        font-weight: bold;
        color: #fff;
        font-size:4.286vw;
        text-align: center;
        margin-top: 1.515vw;
        cursor: pointer;
        input{
            background-color: base.$text;
        }
    }
}

/*------------------------------------------
    contactForm7の調整
------------------------------------------*/
.wpcf7-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    font-size: 0.808vw;
    width: calc( 100% - 1.01vw);
    padding: 1.01vw;
    margin: 0.253vw 0.505vw;
    border-radius: 15px;
    color: base.$text;
    border: 1px solid #ccc;
    background-color: #fff;
    appearance: none;
    @include breakpoint ( sp ){
        font-size:3.429vw;
        border-radius: 0.978vw;
    }
}
textarea{
    font-size: 0.808vw;
    width: calc( 100% - 1.01vw);
    height: 17.677vw;
    padding: 1.01vw;
    margin: 0.253vw 0.505vw;
    border-radius: 15px;
    color: base.$text;
    border: 1px solid #ccc;
    background-color: #fff;
    @include breakpoint ( sp ){
        font-size:3.429vw;
        height: 57.143vw;
        margin: 1.253vw 0.505vw;
        border-radius: 7.5px;
    }
}

.screen-reader-response ,
.wpcf7-not-valid-tip{
    display: none;
}

.wpcf7-response-output{
    color: #333;
    text-align: center;
    padding-top: 0.758vw;
    font-size: 0.808vw;
    border: none!important;
    @include breakpoint ( sp ) {
        padding-top: 0.652vw;
        font-size: 1.304vw;
    }
}

/*------------------------------------------
    reCaptcha関連
------------------------------------------*/
.reCaptcha{
    padding-top: 0.505vw;
    font-size: 0.505vw;
    color: base.$text;
    @include breakpoint ( sp ){
        padding-top: 0.652vw;
        font-size: 2.857vw;
    }
}
//reCaptchaのアイコンを非表示にする
.grecaptcha-badge {
    visibility: hidden;
}
