.p-gnavi {
    &__list {
        display: flex;
        align-items: center;
        @include breakpoint (sp) {
            width: 100vw;
            height: 100vh;
            padding-top: 28.571vw;
            position: absolute;
            top: 0;
            left: 100%;
            background-color: #fff;
            transition: all 300ms 0s ease;
            flex-direction: column;
            overflow-y: auto;
            z-index: 100;
        }
    }
    &__item {
        width: 5.051vw;
        height: auto;
        margin-right: 1.263vw;
        &:last-child {
            margin-right: 0;
        }
        @include breakpoint ( sp ) {
            width: 21.429vw;
            margin-right: 0;
            margin: 5.714vw 0;
        }
    }
    &.is-open {
        .p-gnavi__list {
            @include breakpoint ( sp ) {
                position: fixed;
                left:     0;
            }
        }
    }
}
