.p-gnavi {
    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
        width: 5.051vw;
        height: auto;
        margin-right: 1.263vw;
        &:last-child {
            margin-right: 0;
        }
    }
}
