@use "../../foundation/base";

$btnWidth: 2.608vw;
$btnHeight: 0.13vw;

.p-hamburger {
    display: none;
    @include breakpoint ( sp ) {
        display: block;
        background-color: base.$contact_blue;
        width: 7.823vw;//hamburgerIconの枠
        height: 7.823vw;
        position:         relative;
        border:           0;
        z-index: 999;
    }
    &::before,
    &::after {
        content: "";
        width:      $btnWidth;
        height:     $btnHeight;
        background: base.$text;
        position:   absolute;
        left:       calc( 50% - ( #{$btnWidth} / 2 ) );
        display:    block;
        transition: transform 0.2s;
    }
    &::before {
        top: 2.868vw;
    }
    &::after {
        top: 4.954vw;
    }
    > span { //hamburgerIconの棒
        width:           $btnWidth;
        height:          $btnHeight;
        font-size:       0;
        background-color: base.$text;
        background-size: auto             $btnHeight;
        position:        absolute;
        left:            calc(            50% -      (        #{$btnWidth} / 2        ) );
        top:             50%;
        transition:      transform 0.2s;
    }
    &.is-open {
        width: 13.038vw;
        &::before,
        &::after {
            width:5.215vw;
            left:calc( 50% - ( 5.215vw / 2 ) );
        }
        &::before {
            transform: rotate( 45deg );
            top:       3.651vw;
        }
        &::after {
            transform: rotate( -45deg );
            top:       3.651vw;
        }
        > span {
            background: none;
        }
    }
}
