
@use "../../foundation/base";

$btnWidth: 10vw;
$btnHeight: 0.571vw;

.p-hamburger {
    display: none;
    @include breakpoint ( sp ) {
        display: block;
        width: 10vw;//hamburgerIconの枠
        height: 8.571vw;
        position:         relative;
        border:           0;
        z-index: 999;
    }
    &::before,
    &::after {
        content: "";
        width:      $btnWidth;
        height:     $btnHeight;
        background: base.$text;
        position:   absolute;
        left:       calc( 50% - ( #{$btnWidth} / 2 ) );
        display:    block;
        transition: transform 0.2s;
    }
    &::before {
        top: 0.286vw;
    }
    &::after {
        bottom: 0px;
    }
    > span { //hamburgerIconの棒
        width:           $btnWidth;
        height:          $btnHeight;
        font-size:       0;
        background:      linear-gradient( to  right, base.$text, base.$text      ) repeat-x base.$text;
        background-size: auto             $btnHeight;
        position:        absolute;
        left:            calc(            50% -      (        #{$btnWidth} / 2        ) );
        top:             50%;
        transition:      transform 0.2s;
    }
    &.is-open {
        &::before,
        &::after {
            width:10vw;
            left:calc( 50% - ( 10vw / 2 ) );
        }
        &::before {
            transform: rotate( 45deg );
            top:       4.286vw;
        }
        &::after {
            transform: rotate( -45deg );
            top:       4.286vw;
        }
        > span {
            background: none;
        }
    }
}
