.p-mainVisual {
    width: 100vw;
    height: calc( 100vh - 170px );
    background-image: url("../img/main-logo/main-logo1.png");
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 50%;
}
