@use "../../foundation/base";
.p-section {
    width: 90%;
    margin: 0 auto;
    @include breakpoint ( sp ) {
        width: 94%;
    }
    &--about {
        background-color: #fff;
        &__content {
            display: flex;
            justify-content: center;
            align-items: center;
            @extend .p-section;
            padding: 50px 0px 75px;
            max-width: 1000px;
        }
        &__img {
            padding-right: 35px;
            margin-left: auto;
            > img {
                width: 350px;
                height: auto;
            }
        }
        &__list {
            padding-left: 35px;
        }
        &__item {
            line-height: 1.5;
            padding-bottom: 25px;
            &:last-child {
                padding-bottom: 0;
            }
            > dt {
            font-size: 18px;
            }
            > dd {
                font-size: 24px;
            }
            > a {
                display: block;
                .fa-github{
                    font-size: 45px;
                    color: #000;
                }
            }
        }
    }
    //about
    &--works {
        &__content {
            @extend .p-section;
            padding: 15px 0px 75px;
            //padding: 50px 0px 75px;
            //c-card--postCardのpt35pxとの関係上15px
        }
        &__contentWrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
    //works
    &--blog {
        background-color: #fff;
        &__content {
            @extend .p-section;
            padding: 15px 0px 75px;
            //padding: 50px 0px 75px;
            //c-card--postCardのpt35pxとの関係上15px
        }
        &__contentWrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        //.p-section--worksを継承できなかった
    }
    //blog
    &--contact {
        @extend .p-section;
    }
}
