@use "../../foundation/base";
.breadCrumbs{
    display: flex;
    color: base.$text;
    padding: 1.768vw 0px;
    width: 70%;
    margin: 0 auto;
    @include breakpoint ( sp ) {
        width: 94%;
        padding: 4.286vw 0;
    }
    &__item {
        font-size: 1.061vw;
        padding-right: 1.01vw;
        @include breakpoint ( sp ){
            font-size: 3.429vw;
            padding-right: 2.857vw;
        }
        a {
            color: base.$text;
        }
    }
}
