.c-section-ttlset {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    > img {
        width: 200px;
        height: auto;
    }
    &--contact {
        @extend .c-section-ttlset;
        padding-bottom: 50px;
    }
}
